<div class="home">
  <app-wyy-carousel
    #wyyCarousel
    [activeIndex]="carouselIndex"
    (changeSlide)="onChangeSlide($event)"
  >
    <nz-carousel
      [nzAutoPlay]="true"
      nzEffect="fade"
      [nzDotRender]="wyyCarousel.dotRef"
      (nzBeforeChange)="onBeforeChange($event)"
    >
      <div
        class="carousel-item"
        nz-carousel-content
        *ngFor="let item of banners"
      >
        <a
          [href]="item.url"
          target="_blank"
          class="banner-item"
        >
          <img [src]="item.imageUrl" alt="轮播图" />
        </a>
      </div>
    </nz-carousel>
  </app-wyy-carousel>

  <!-- 主体 -->
  <div class="main">
    <div class="wrap">
      <div class="left">
        <div class="sec">
          <div class="up">
            <div class="navs">
              <h2>
                <i></i>
                <a>热门推荐</a>
              </h2>
              <nav>
                <a *ngFor="let item of hotTags">{{
                  item.name
                }}</a>
              </nav>
            </div>
            <a>
              更多
              <i
                nz-icon
                nzType="arrow-right"
                theme="outline"
              ></i>
            </a>
          </div>
          <div class="down">
            <div class="down-wrap">
              <app-single-sheet
                [sheet]="sheet"
                *ngFor="let sheet of songSheetList"
                class="sheet-item"
              ></app-single-sheet>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <!-- 登录 -->
        <app-member-card></app-member-card>
        <!-- 入驻歌手 -->
        <div class="settled-singer">
          <div class="tit">
            <b>入驻歌手</b>
          </div>
          <div class="list">
            <div
              class="card"
              *ngFor="let singer of singers"
            >
              <div class="pic">
                <img
                  [src]="singer.picUrl"
                  [alt]="singer.name"
                />
              </div>
              <div class="txt">
                <b class="ellipsis">{{ singer.name }}</b>
                <span>专辑数： {{ singer.albumSize }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
